.portfolio-header {
  text-align: center;
  background-color: #e8e7e3;
}
.portfolio-cards {
  padding-top: 100px;
  margin-top: -10px;
  padding-left: 40px;
  height: 100vh;
  font-size: large;
  column-count: 3;
  background-color: #e8e7e3;
}

.card-img {
  height: 100%;
  border: 1px solid;
}

a {
  text-decoration: none;
}