@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.home-body {
  background-image: url(/public/portfolio-bg.png);
}
.intro {
  font-size: 200px;
  color: #c4d8e2;
  font-family: 'Poppins, sans-serif';
}

p {
  padding-bottom: 40px;
  font-size: 30px;
  color: white;
}
.my-name {
  color: #738276;
}