.contact-page {
  background-color: #e8e7e3;;
  height: 100vh;
}
h1 {
  font-size: 25px;
  color: #738276;
  font-family: 'Poppins, sans-serif';
  padding-top: 50px;
}
.error-text {
  font-size: 25px;
  color: #738276;
  font-family: 'Poppins, sans-serif';
}