@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.header {
  background-image: url(/public/succulent.jpeg);
  background-position: bottom right;
  background-color: #e8e7e3;
  padding-bottom: 5px;
  padding-bottom: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
}
.intro {
  font-size: 200px;
  color: #738276;
  font-family: 'Poppins, sans-serif';
  text-align: left;
}
.period {
  color: white;
}

p {
  padding-bottom: 40px;
  font-size: 25px;
  color: #738276;
  text-align: left;
  font-family: 'Poppins, sans-serif';
}
.my-name {
  color:white;
}
.about-me{
  background-color:#e8e7e3;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "photo title"
  "photo paragraph";
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}
img {
  grid-area: photo;
  width: 300px;
  height: 300px;
  margin: 40px 20px 20px 20px;
  border-style: solid;
  border-color:#738276 ;
  border-radius: 10px;
}
.about {
  grid-area: title;
  color: #738276;
  text-align: center;
  font-size: 30px;
}
.about-text {
  grid-area: paragraph;
  text-align: center;
  color: #738276 ;
  font-size: 25px;
  font-family: 'Poppins, sans-serif';
}