@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.header {
  background-image: url(/public/portfolio-bg.png);
  padding-bottom: 5px;
  padding-bottom: 20px;
}
.intro {
  font-size: 200px;
  color: #9ba870;
  font-family: 'Poppins, sans-serif';
  text-align: left;
}

p {
  padding-bottom: 40px;
  font-size: 40px;
  color: black;
  text-align: left;
  font-family: 'Poppins, sans-serif';
}
.my-name {
  color:#9ba870;
}
.about-me {
  background-color:#c7ceae;
  height: 100vh;
  padding-top: 0px;
  justify-content: center;
}
img {
  width: 300px;
  height: 300px;
  align-items: center;
  margin-top: 40px;
}
.about {
  color: #dee8eb;
  text-align: center;
}
.about-text {
  text-align: center;
  color: #738276 ;
}