@import url('https://fonts.googleapis.com/css?family=Kaisei+Opti');
@import url('https://fonts.googleapis.com/css?family=Poppins');


.navbar {
  color:#738276;
  font-size: large;
  font-family: 'Kaisei Opti', serif;
  background-image: url(/public/portfolio-bg.png);
}
a:hover {
  text-decoration: underline;
  text-decoration-color: #dee8eb;
  text-decoration-thickness: 20px;
}